<?xml version="1.0" encoding="UTF-8"?>
<phpunit
     backupStaticAttributes="false"

     cacheTokens="false"
     colors="true"

     bootstrap="./tests/phpunitBootstrap.php"

     processIsolation="false"
     stopOnError="false"
     stopOnFailure="false"
     stopOnIncomplete="false"
     stopOnSkipped="false"
     testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"

     strict="false"
     verbose="false"
    >

    <testsuites>
        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
